@tailwind base;
@tailwind components;
@tailwind utilities;

.background-pattern {
  background-color: #ffffff;
  background-image: repeating-linear-gradient(
    -45deg,
    #d5d5d560,
    #cccccc23 2px,
    #e5e5f72f 2px,
    #e5e5f72b 12px
  );
  background-size: cover;
}
